{% extends 'ossls_base.html' %}
{% block extraCSS %}
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
{% endblock %}
{% block beforebody %}
	<section id="our-servers">
		<div class="services-area">
			<svg id="curve" data-name="layer 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1416.99 174.01">
				<path class="cls-1" d="M0,280.8S283.66,59,608.94,163.56s437.93,150.57,808,10.34V309.54H0V280.8Z" transform="translate(0 -135.53)" />
			</svg>
			<div class="container">
				<div class="row" >
					<div class="col-xl-6 col-lg-6 col-md-5 d-flex align-items-center" >
						<!--services heading text-->
						<div class="section-heading-2 section-heading-2-p">
							<h4>开源许可证决策支持工具</h4>
							<h3>我们提供的服务</h3>
							<p>
								</br>本工具是基于OSSLS现有知识库实现的，本工具提供的信息不代表律师的法律建议，若有需要您可以咨询专业律师。</p>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6">
						<div class="row" >
							<!--service box-->
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 d-flex align-items-center">
								<a href="{% url 'ossls:license_compatibility' %}">
									<div class="single-service"  data-aos="fadein" data-aos-anchor-placement="top-bottom" data-aos-delay="100" data-aos-duration="1000">
										<div class="service-icon">
											<img src="/static/img/service/1.png" alt="">
										</div>
										<div class="service-text">
											<h3>开源许可证兼容性判断</h3>
											<p style="font-size:13px" align="left">如果你想在你的项目中组合某个开源许可证下的代码，该工具可以帮助您确定项目可以在何种许可证下授权。</p>
										</div>
										<div class="servive-p-1">
											<img src="/static/img/service/service-p-1.png" alt="">
										</div>
									</div>
								</a>
							</div>
							<!--service box-->
							<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 margin-top-sb-30">
								<div class="row">
									<!--service box-->
									<div class="col-xl-12" >
										<a href="{% url 'ossls:license_trend' %}">
											<div class="single-service" >
												<div class="service-icon" >
													<img src="/static/img/service/3.png" alt="">
												</div>
												<div class="service-text" >
													<h3>趋势一览</h3>
													<p style="font-size:13px" align="left">该工具可以帮您了解GitHub平台流行主题下项目仓库的开源许可证使用情况。</p>
												</div>
											</div>
										</a>
									</div>
									<!--service box-->
									<div class="col-xl-12" >
										<a href="{% url 'ossls:license_selection' %}">
											<div class="single-service service-mt-30" data-aos="fadein" data-aos-anchor-placement="top-bottom" data-aos-delay="300" data-aos-duration="1000">
												<div class="service-icon" >
													<img src="/static/img/service/2.png" alt="">
												</div>
												<div class="service-text">
													<h3>开源许可证选择</h3>
													<p style="font-size:10px" align="left">如果您打算开源一个项目，但不确定使用哪一个开源许可证，该工具从开源许可证兼容性、个人开源风格、开源商业模式、项目社区发展、关键条款解读、许可证要素对比、许可证使用流行度及文本可读性等因素考虑，知道您选择适合开源软件许可证。</p>
												</div>
												<div class="servive-p-2">
													<img src="/static/img/service/service-p-3.png" alt="">
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}

