{% extends 'ossls_base.html' %}

{% block extraCSS %}
{% endblock %}

{% block title %}
	开源许可证条款特征
{% endblock %}

{% block body %}
<div style="position:relative;">
    <div style="position: relative;left: 50%;transform: translate(-50%,50px);height:1100px; width:1400px;">
        <table class="table table-hover" style=" width: 100%; border-collapse:collapse; border-spacing:0;">
			<thead class="thead-light" style="display: block; width: 100%;">
				<tr style="font-size:13px;text-align:center;">
					<th scope="col" style="width: 200px;"> SPDX</th>
					<th scope="col" style="width: 200px;"> 许可证基本信息</th>
					<th scope="col" style="width: 200px;"> 序 言</th>
					<th scope="col" style="width: 200px;"> 定 义</th>
					<th scope="col" style="width: 200px;"> 版 权</th>
					<th scope="col" style="width: 200px;"> 专利权</th>
					<th scope="col" style="width: 200px;"> 商标权</th>
					<th scope="col" style="width: 200px;"> 衍生软件分发的限制性</th>
					<th scope="col" style="width: 200px;"> 网络部署</th>
					<th scope="col" style="width: 200px;"> 保留归属</th>
					<th scope="col" style="width: 200px;"> 增强归属</th>
					<th scope="col" style="width: 200px;"> 修改声明</th>
					<th scope="col" style="width: 200px;"> 明确接受许可</th>
					<th scope="col" style="width: 200px;"> 授权与终止</th>
					<th scope="col" style="width: 200px;"> 专利终止</th>
					<th scope="col" style="width: 200px;"> 准据法</th>
					<th scope="col" style="width: 200px;"> 无担保与免责</th>
					<th scope="col" style="width: 200px;"> 使用说明</th>
				</tr>
			</thead>
			<tbody style="display: block;height: 650px; overflow: auto; width: 100%;">
				{% for license_term in licenses_terms %}
				<tr style="font-size:13px;text-align:center;">
					{% if license_term.spdx in oss_license_list %}
						<th scope="row" style="width: 200px;">{{license_term.spdx}}</th>

						{% if license_term.license_info == 0 %}
						<th scope="row" style="width: 200px;">&#9898</th>
						{% elif license_term.license_info == 1 %}
						<th scope="row" style="width: 200px;">&#9899</th>
						{% endif %}

						{% if license_term.preamble == 0 %}
						<th scope="row" style="width: 200px;">&#9898</th>
						{% elif license_term.preamble == 1 %}
						<th scope="row" style="width: 200px;">&#9899</th>
						{% endif %}

						{% if license_term.definitions == 0 %}
						<th scope="row" style="width: 200px;">&#9898</th>
						{% elif license_term.definitions == 1 %}
						<th scope="row" style="width: 200px;">&#9899</th>
						{% endif %}

						{% if license_term.copyright_l == 0 %}
						<th scope="row" style="width: 200px;">&#9898</th>
						{% elif license_term.copyright_l == 1 %}
						<th scope="row" style="width: 200px;">&#9899</th>
						{% endif %}

						{% if license_term.patent_cant == 1 %}
						<th scope="row" style="width: 200px;">&#9938</th>
						{% else %}
							{% if license_term.patent_lice == 0 %}
							<th scope="row" style="width: 200px;">&#9898</th>
							{% elif license_term.patent_lice == 1 %}
							<th scope="row" style="width: 200px;">&#9899</th>
							{% endif %}
						{% endif %}

						{% if license_term.trademark_l == 0 %}
						<th scope="row" style="width: 200px;">&#9898</th>
						{% elif license_term.trademark_l == 1 %}
						<th scope="row" style="width: 200px;">&#9899</th>
						{% endif %}

						{% if license_term.copyleft == 0 or license_term.copyleft == -1 %}
						<th scope="row" style="width: 200px;">无限制</th>
						{% elif license_term.copyleft == 1 %}
						<th scope="row" style="width: 200px;">文件级弱限制</th>
						{% elif license_term.copyleft == 2 %}
						<th scope="row" style="width: 200px;">模块级弱限制</th>
						{% elif license_term.copyleft == 3 %}
						<th scope="row" style="width: 200px;">库级弱限制</th>
						{% elif license_term.copyleft == 4 %}
						<th scope="row" style="width: 200px;">强限制</th>
						{% endif %}

						{% if license_term.internet_action == 0 %}
						<th scope="row" style="width: 200px;">&#9898</th>
						{% elif license_term.internet_action == 1 %}
						<th scope="row" style="width: 200px;">&#9899</th>
						{% endif %}

						{% if license_term.attribution == 0 %}
						<th scope="row" style="width: 200px;">&#9898</th>
						{% elif license_term.attribution == 1 %}
						<th scope="row" style="width: 200px;">&#9899</th>
						{% endif %}

						{% if license_term.Strengthen_attribution == 0 %}
						<th scope="row" style="width: 200px;">&#9898</th>
						{% elif license_term.Strengthen_attribution == 1 %}
						<th scope="row" style="width: 200px;">&#9899</th>
						{% endif %}

						{% if license_term.modification == 0 %}
						<th scope="row" style="width: 200px;">&#9898</th>
						{% elif license_term.modification == 1 %}
						<th scope="row" style="width: 200px;">&#9899</th>
						{% endif %}

						{% if license_term.acceptance == 0 %}
						<th scope="row" style="width: 200px;">&#9898</th>
						{% elif license_term.acceptance == 1 %}
						<th scope="row" style="width: 200px;">&#9899</th>
						{% endif %}

						{% if license_term.termination_authorization == 0 %}
						<th scope="row" style="width: 200px;">&#9898</th>
						{% elif license_term.termination_authorization == 1 %}
						<th scope="row" style="width: 200px;">&#9899</th>
						{% endif %}

						{% if license_term.patent_anti == 0 %}
						<th scope="row" style="width: 200px;">&#9898</th>
						{% elif license_term.patent_anti == 1 %}
						<th scope="row" style="width: 200px;">&#9899</th>
						{% endif %}

						<th scope="row" style="width: 200px;">{{license_term.law_info}}</th>

						{% if license_term.disclaimer == 0 %}
						<th scope="row" style="width: 200px;">&#9898</th>
						{% elif license_term.disclaimer == 1 %}
						<th scope="row" style="width: 200px;">&#9899</th>
						{% endif %}

						{% if license_term.instructions == 0 %}
						<th scope="row" style="width: 200px;">&#9898</th>
						{% elif license_term.instructions == 1 %}
						<th scope="row" style="width: 200px;">&#9899</th>
						{% endif %}
					{% endif %}
				</tr>
				{% endfor%}
			</tbody>
		</table>
		<div  class="instruction-font">
			<p style="font-size:12px;">说明：</p>
			<p style="font-size:7px;">1. 开源许可证选取范围：选取了Github和Libraries.io上广泛使用的25种开源许可证。</p>
			<p style="font-size:7px;">2. &#9899表示许可证中明确包含，&#9898表示许可证中未提及或模糊授予版权；</p>
			<p style="font-size:7px;">3. only or later,是指由许可方指定是否在获得该作品时开源许可证的某个版本下许可，或指定在后续更新版本下许可；later是指可以在获得该作品时开源许可证的某个版本或后续版本下许可；</p>
			<p style="font-size:7px;">4. “限制性”是指衍生作品分发限制；“无限制”表示衍生作品分发可以使用其他许可证重新许可；“弱限制”许可证要求对软件修改后的重新分发必须按照获得该软件的许可证进行授权,但允许将代码集成到自己的软件中,而不必使整个代码库开源,组合这些软件的大型作品可以成为私有作品. 弱限制型还可以分为文件级(不同文件即可隔离传染,如MPL2.0)、模块级(通过接口调用隔离传染，如APL1.0)、库级(库调用可以隔离传染,如LGPL2.1)；“强限制”即要求对软件的修改和组合后的分发都必须按照获得该软件的许可证进行开源。</p>
			<p style="font-size:7px;">5. “增强归属”是指一些开源许可证除了要求保留归属外，还要求以某种特定的形式声明软件的版权信息和作者，这种规定称为增强归属；</p>
			<p style="font-size:7px;">6. “网络部署”是指通过网络向用户提供服务等行为视为“分发”；</p>
			<p style="font-size:7px;">7. “明确接受许可”是指分发或传播原创作品或衍生作品的副本，必须做出合理的努力，以获得接收人对本授权条款的明确同意；</p>
		</div>
    </div>
</div>
{% endblock %}


