{% extends 'ossls_base.html' %}

{% block title %}
	开源许可证常见问题
{% endblock %}


{% block body %}
			<div class="row">
				<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
					<!--=============左侧栏==============-->
					<div class="left-side" id="fqas_list">
						{{fqa|safe}}
					</div>
				</div>

				<!--=============右侧栏==============-->
				<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
					<div class="right-side">
						<div class="main-category">
							<h3>问题分类</h3>
							<div class="category-list">
								<ul>
									<li><a href="#" id="0BSD_fqa">0BSD常见问题<span>(1)</span></a></li>
									<li><a href="#" id="Apache_fqa">Apache许可证常见问题<span>(21)</span></a></li>
									<li><a href="#" id="CeCILL_fqa">CeCILL常见问题 <span>(35)</span></a></li>
									<li><a href="#" id="MPL1_1_fqa">MPL-1.1常见问题 <span>(35)</span></a></li>
									<li><a href="#" id="MPL2_0_re_fqa">MPL-2.0修订常见问题 <span>(35)</span></a></li>
									<li><a href="#" id="MPL2_0_fqa">MPL-2.0常见问题 <span>(35)</span></a></li>
								</ul>
							</div>
						</div>
<!--						<div align="center" style="margin:60px 10px 20px 10px">-->
<!--							<a href="{% url 'ossls:license_bot' %}">-->
<!--								<img src="/static/img/counter/manager.png">-->
<!--							</a>-->
<!--							<p>智能问答机器人</p>-->
<!--						</div>-->
					</div>
				</div>
			</div>
{% endblock %}


{% block extraJS %}
	<script src="/static/js/jquery-1.10.2.min.js"></script>
	<script>
		$("#0BSD_fqa").click(function(e){
			$.ajax({
				dataType: 'JSON',
				cache: false,
				async: true,
				type: 'POST',
				url: "{% url 'ossls:license_fqa_list' %}",
				data:{spdx:'0BSD'},
				beforeSend:function(xhr,settings){
					xhr.setRequestHeader("X-CSRFToken","{{csrf_token}}");
				},
				success:function(result){
					$("#fqas_list").find("div").remove();
					$("#fqas_list").append(result['fqa']);
				}
			})
		});

		$("#Apache_fqa").click(function(e){
			$.ajax({
				dataType: 'JSON',
				cache: false,
				async: true,
				type: 'POST',
				url: "{% url 'ossls:license_fqa_list' %}",
				data:{spdx:'Apache'},
				beforeSend:function(xhr,settings){
					xhr.setRequestHeader("X-CSRFToken","{{csrf_token}}");
				},
				success:function(result){
					$("#fqas_list").find("div").remove();
					$("#fqas_list").append(result['fqa']);
				}
			})
		});

		$("#CeCILL_fqa").click(function(e){
			$.ajax({
				dataType: 'JSON',
				cache: false,
				async: true,
				type: 'POST',
				url: "{% url 'ossls:license_fqa_list' %}",
				data:{spdx:'CeCILL'},
				beforeSend:function(xhr,settings){
					xhr.setRequestHeader("X-CSRFToken","{{csrf_token}}");
				},
				success:function(result){
					$("#fqas_list").find("div").remove();
					$("#fqas_list").append(result['fqa']);
				}
			})
		});

		$("#MPL1_1_fqa").click(function(e){
			$.ajax({
				dataType: 'JSON',
				cache: false,
				async: true,
				type: 'POST',
				url: "{% url 'ossls:license_fqa_list' %}",
				data:{spdx:'MPL-1.1'},
				beforeSend:function(xhr,settings){
					xhr.setRequestHeader("X-CSRFToken","{{csrf_token}}");
				},
				success:function(result){
					$("#fqas_list").find("div").remove();
					$("#fqas_list").append(result['fqa']);
				}
			})
		});

		$("#MPL2_0_re_fqa").click(function(e){
			$.ajax({
				dataType: 'JSON',
				cache: false,
				async: true,
				type: 'POST',
				url: "{% url 'ossls:license_fqa_list' %}",
				data:{spdx:'MPL-2.0-relicensing'},
				beforeSend:function(xhr,settings){
					xhr.setRequestHeader("X-CSRFToken","{{csrf_token}}");
				},
				success:function(result){
					$("#fqas_list").find("div").remove();
					$("#fqas_list").append(result['fqa']);
				}
			})
		});

		$("#MPL2_0_fqa").click(function(e){
			$.ajax({
				dataType: 'JSON',
				cache: false,
				async: true,
				type: 'POST',
				url: "{% url 'ossls:license_fqa_list' %}",
				data:{spdx:'MPL-2.0'},
				beforeSend:function(xhr,settings){
					xhr.setRequestHeader("X-CSRFToken","{{csrf_token}}");
				},
				success:function(result){
					$("#fqas_list").find("div").remove();
					$("#fqas_list").append(result['fqa']);
				}
			})
		});
	</script>
{% endblock %}