{% extends 'ossls_base.html' %}

{% block extraCSS %}
	<!--标签 CSS-->
	<link rel="stylesheet" href="/static/css/tab.css">
	<!--Bootstrap CSS-->
	<link rel="stylesheet" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
{% endblock %}

{% block beforebody %}
	<!--留白-->
	<div style="margin:100px 0px 20px 0px;" >
	</div>
{% endblock %}

{% block body %}
	<div class="row">
		<div class="selection-label">
			<div  class="secondary-title" align="center" style="">
				<h3>开源许可证兼容性判断</h3>
			</div>
			<div class="col-xl-5 col-lg-5">
				<div style="height:200px;margin:50px 0px 10px 40px;justify-content:center;background-image:url(../static/img/bb.png) no-repeat;">
					<div class="row justify-items-center" style="height:90px"></div>
					<div class="row justify-items-center">
						<div class="col-xl-6 col-lg-6 alert alert-success" role="alert" style="text-align:center">A许可证</div>
						<div class="col-xl-6 col-lg-6">
								<select id="A_license" class="btn btn-light" style="width:220px;height:50px;text-align:left">
									{% for license in licenses %}
										<option value="{{license}}">{{license}}</option>
									{% endfor %}
								</select>
						</div>
					</div>
					<div class="row justify-items-center">
						<div class="col-xl-6 col-lg-6  alert alert-info" role="alert" style="text-align:center">	B许可证</div>
						<div class="col-xl-6 col-lg-6">
							<select id="B_license" class="btn btn-light" style="width:220px;height:50px;text-align:left">
									{% for license in licenses %}
										<option value="{{license}}">{{license}}</option>
									{% endfor %}
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-7 col-lg-7">
				<div class="jumbotron jumbotron-fluid" style="margin:0px 5px 0px 15px;padding:15px;">
					<div style="height:350px;font-size:15px">
						<div id="compatibility1" style="display:none;margin-bottom:2px;line-height:25px;background:#CCFFCC;"><span><b>兼容结果：</b></span><span id="compatibility_result"></span></div>
						<div id="compatibility2" style="display:none;margin-bottom:2px;line-height:25px;background:#CCFFFF;"><span><b>如何使用：</b></span><span id="how_to_use"></span></div>
						<div id="compatibility3" style="display:none;margin-bottom:2px;line-height:25px;background:#FFFFCC;"><span><b>原因分析：</b></span><span id="why_or_why_not"></span></div>
						<div id="compatibility4-1" style="display:none;margin-bottom:4px;line-height:25px;"><b>影响次级兼容的条款：</b></div>
						<div class="plus-tag tagbtn clearfix" id="compatibility4" style="display:none"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="button-filed" align="center">
			<button id="compatibility_judge">开始判断</button>
		</div>
	</div>
	<div class="row">
		<div class="instruction-area" style="margin:20px 0px">
			<p style="font-size:15px;margin:10px 15px 0px 0px"><b>说明：</b>许可证的兼容性是有方向的。A许可证是指项目中组合的第三方代码所采用的许可证（入站许可证），B许可证是指项目所（预计）采用的许可证（出站许可证）；
				“A次级兼容B”是指修改或组合开源许可证A授权的软件，所产生的衍生软件整体可采用开源许可证B授权，衍生作品的所有部分（包括原A授权部分）都遵循B的约束；
				“A组合兼容B”是指修改或组合开源许可证A授权的软件，所产生的衍生软件整体可采用开源许可证B授权，而衍生作品中原A授权部分及其修改仍然遵循A的约束。
				当开源许可证A既不次级兼容也不组合兼容开源许可证B时，则A不兼容B。</p>
		</div>
	</div>
{% endblock %}

{% block extraJS %}
	<script>
		$("#compatibility_judge").click(function(e){
			$.ajax({
				dataType: 'JSON',
				cache: false,
				async: true,
				type: 'POST',
				url:"{% url 'ossls:license_compatibility_judge' %}",
				data:{
					licenseA:$("#A_license").find("option:selected").text(),
					licenseB:$("#B_license").find("option:selected").text(),
				},
				beforeSend:function(xhr,settings){
					xhr.setRequestHeader("X-CSRFToken","{{csrf_token}}");
				},
				success:function(result){
					$("#compatibility_result").text(result['iscompatibility'])
					$("#compatibility1").show();
					if(result['how_to_use'] == ''){
						console.log(result['how_to_use']);
						$("#compatibility2").hide();
					}
					else if(result['how_to_use'] != ''){
						$("#compatibility2").show();
						$("#how_to_use").text(result['how_to_use'])
					}
					if(result['why_or_why_not'] == ''){
						$("#compatibility3").hide();
					}
					else if(result['why_or_why_not'] != ''){
						$("#compatibility3").show();
						$("#why_or_why_not").text(result['why_or_why_not'])
					}
					if(result['compatibility_terms'].length > 0){
						$("#compatibility4-1").show();
						$("#compatibility4").show();
						$("#compatibility4").find("a").remove();
						for(var i = 0; i < result["compatibility_terms"].length; i++){
							var term_tab = $("#compatibility4");
							term_tab.append($("<a><span>"+result["compatibility_terms"][i]+"</span></a>"));
						}
					}
					else{
						$("#compatibility4").hide();
						$("#compatibility4-1").hide();
					}
				},
			})
		});

	</script>

{% endblock %}