{% load static %}
<!doctype html>
<html lang="en" class="no-js">

<head>
	<title>OSSLS--Open Source Software License Selection</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name=description content="">
	<meta name=author content="Enventer">
	<link rel="icon" href="/static/img/favicon.png" type="image/png">
	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700,900&display=swap" rel="stylesheet">
	<!-- Meanmenu css -->
	<link rel="stylesheet" href="/static/css/meanmenu.css">
	<!-- Magnific css -->
	<link rel="stylesheet" href="/static/css/magnific-popup.min.css">
	<!-- Animation CSS -->
	<link href="/static/css/aos.min.css" rel="stylesheet">
	<!-- Slick Carousel CSS -->
	<link href="/static/css/slick.css" rel="stylesheet">
	<!-- Main CSS -->
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="/static/css/responsive.css">

	{% block extraCSS %}{% endblock %}
</head>

<body>
	<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->


	<!--=================  Preloader Start========================-->
	<div id='preloader'>
		<div id='status'>
			<img src='/static/img/loading.gif' alt='LOADING....!!!!!' />
		</div>
	</div>

	<!--=========== Main Header area ===============-->
	<header id="home">
		<div class="main-navigation-1">
			<div class="container">
				<div class="row">
					<!-- logo-area-->
					<div class="col-xl-2 col-lg-3 col-md-3">
						<div class="logo-area">
							<a href="index.html"><img src="/static/img/logo.png" alt="enventer"></a>
						</div>
					</div>
					<!-- mainmenu-area-->
					<div class="col-xl-10 col-lg-9 col-md-9">
						<div class="main-menu f-right">
							<nav id="mobile-menu">
								<ul>
									<li><a  href="{% url 'ossls:index' %}">首页</a></li>
									<li>
										<a href="#" onclick="return false">工具<i class="fas fa-angle-down"></i></a>
										<ul class="dropdown">
											<li><a href="{% url 'ossls:license_compatibility' %}">开源许可证兼容性判断</a></li>
											<li><a href="{% url 'ossls:license_selection' %}">开源许可证选择</a></li>
											<li><a href="{% url 'ossls:license_trend' %}">趋势一览</a></li>
										</ul>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="team-area">
		{% block beforebody %}

		{% endblock %}

		<div class="container" >
			{% block body %}
			{% endblock %}
		</div>

	</div>


	<!-- =========Footer Area=========== -->
	<!--copyright-->
	<footer>
		<p>All rights reserved @ blesswoo 2021</p>
	</footer>

	<!-- Jquery JS -->
	<script src="/static/js/vendor/jquery-2.2.4.min.js"></script>
	<!-- Proper JS -->
	<script src="/static/js/popper.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="/static/js/bootstrap.min.js"></script>
	<!-- Video popup Js -->
	<script src="/static/js/magnific-popup.min.js"></script>
	<!-- Waypoint Up Js -->
	<script src="/static/js/waypoints.min.js"></script>
	<!-- Counter Up Js -->
	<script src="/static/js/counterup.min.js"></script>
	<!-- Meanmenu Js -->
	<script src="/static/js/meanmenu.min.js"></script>
	<!-- Animation Js -->
	<script src="/static/js/aos.min.js"></script>
	<!-- Filtering Js -->
	<script src="/static/js/isotope.min.js"></script>
	<!-- Background Move Js -->
	<script src="/static/js/jquery.backgroundMove.js"></script>
	<!-- Slick Carousel Js -->
	<script src="/static/js/slick.min.js"></script>
	<!-- ScrollUp Js -->
	<script src="/static/js/scrollUp.js"></script>
	<!-- Main Js -->
	<script src="/static/js/main.js"></script>
	{% block extraJS %}{% endblock %}

</body>

</html>